<% include palets/header.ejs %>

<h1 class="jumbotron" style="text-align: center">Login</h1>

<div class="container">
    <div class="row" style="margin: 0 auto; width: 30%">
        <form action="/login" method="post">
            <input class="form-control" type="text" placeholder="username" name="username">
            <input class="form-control" type="password" placeholder="password" name="password">
            <button class="btn btn-active btn-lg btn-block" type="submit">Login</button>
        </form>
    </div>
</div>

<% include palets/footer.ejs %>